
.FullContainer {
  font-size: 50%;
}


.container {
  // height: 100vh;
  // overflow: hidden;
  width: 100%;
  background-color: #F3F3F4;
  h2 {
    padding: 0.5rem 2rem;
    font-family: Quicksand;
    font-size: 22px;
    line-height: 27px;
  }

}

.searchBar{
  padding: 2rem 2rem;
}

.productsDisplayStyle {
  padding: 0rem 10px;
  // padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  min-height: 20rem;

  // grid-template-columns: repeat(5,auto);
  & > * {
    margin: 10px;
  }

}

@media(max-width: 830px){


  .productsDisplayStyle{
    // grid-template-columns: repeat(5,auto);
    padding: 0;
    // justify-content: center;

  }
  .searchBar {
    padding: 1.5rem 1rem;

  }
}

@media(max-width: 768px){
  .container {
    h2 {
      font-size: 16px;
    }
  }
  .productsDisplayStyle {
    & > *{
      margin: 3px

    }
  }
}




@media(max-width: 591px){

  .topMiddle {
    display: flex;
    flex-direction: column-reverse;
  }

  .searchBar {
    padding: 1rem 1rem 0rem 1rem;
    background-color: #ffff;
  }

  .productsDisplayStyle{
    margin: 2px 2px 0 2px;
    padding-bottom: 18%;
  }
}


@media(max-width: 439px){
  .productsDisplayStyle{
    justify-content: space-around;
  }
}
