
.container {
  background-color: #FFF;
  display: flex;
  width: 500px;
  height: 50px;
  border: 1px solid #DDDDDD;
  // box-sizing: border-box;
  border-radius: 3px;
  div {
    input {
      border: 0;
      width: 470px;
      height: 48px;
      padding-left: 15px;
      &:focus {
        outline: 0;
      }

      &::placeholder {
        font-family: Quicksand;
        font-size: 20px;
        line-height: 25px;
        color: #898989;
      }
    }
  }

  &:last-child {
    color: #ACACAC;
    align-items: center;
    justify-content: right;
  }

}

@media(max-width: 591px){
  .container {
    width: 97%;
    div:first-child {
      flex: 9;

      input {
        width: fit-content;
        &::placeholder{
          font-size: 15px;
        }
      }
    }
    div:last-child {
      flex: 1
    }

  }
}
