
.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 100%;
  // border-style: none none solid none;
  border-bottom: 5px solid #B41C8B;

}

.headerAll {
  display: flex;
  padding: 15px;
}

.logo {
  img{
    width: 142px;
    height: 142px;
    margin: 0 1rem;
    border: 2px solid #B41C8B;
    border-radius: 80px;
  }

}

.headerInfo{
  padding: 1rem;
}
.topInfo {
  display: flex;
  h2 {
    padding-right:2% ;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    // line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    margin-top: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1BBB16;
  }
}

.midInfo {
  padding: 1rem 0rem;
  font-family: Quicksand;
  font-size: 19px;
  line-height: 24px;
}

.botInfo {
  display: flex;
  // justify-content: space-between;
   p {
    padding-right: 10%;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;


    color: #818181;
     span {
      padding-right: 1rem;
      font-family: Quicksand;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #3F3F3F;
     }
   }
}

.cartContainer {
  border-left: 1px solid  #ECECEC;
  margin: 2rem 0rem;
  padding: 2rem 0rem 2rem 2rem;

  div {
    p:first-child {
      display: flex;
      font-family: Quicksand;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #3F3F3F;
      span {
        padding-left: 10px;

      }
    }
    p:last-child {
      padding-left: 2rem;
      font-family: Quicksand;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #B41C8B;
    }
  }


}
@media (max-width: 936px){
  .botInfo{
    p {
      span{
        display: flex;
        svg {
          margin-right: 5%;
        }
      }
    }
  }
}
@media(max-width: 790px){
  .logo {
    img{
      width: 122px;
      height: 122px;
    }
  }
  .cartContainer {

    background-color: #B41C8B;
    border-left: 0;
    color: #FFFFFF;
    position: fixed;
    width: 80%;
    height: 56px;
    left: 12%;
    bottom: 9px;
    margin: 0;
    padding: 1.5%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      p:first-child  {
        color: #FFFFFF;
      }

      p:last-child{

        height: 36px;
        background-color: #FFFFFF;
        border-radius: 100px;
        padding: 1% 7%;

      }
    }
  }
  .midInfo {
    p {

      font-size: 14px;
    }
  }
  .botInfo {
    p {

      display: flex;
      flex-direction: column;
      font-size: 15px;
      padding-right: 1%;
    }
  }
}

@media(max-width: 653px) {
  .headerContainer {
    justify-content: space-around;
  }
  .headerAll {
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .logo {
    img{
      width: 130px;
      height: 130px;
    }
  }
  .topInfo h2 {
    font-size: 20px;
    // ajustar paddig
  }

  .midInfo {
    overflow: hidden;
    p {
      display: flex;
      flex-direction: column;
    }
  }

  .botInfo {
    font-size: 14px;
  }
}

@media(max-width: 593px) {
  .logo {
    img{
      width: 110px;
      height: 110px;
    }
  }
  .topInfo h2 {
    font-size: 17px;
  }

  .midInfo {
    font-size: 12px;
    padding: 10px 0;
  }

  .botInfo {
    font-size: 12px;
  }
  .cartContainer {
    div {
      span {
        line-height: 19px
      }
      p:last-child {
        height: 30px;
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        span:first-child {
          padding-right: 5px;
        }
      }
    }
  }
}
@media(max-width: 420px){
  .topInfo {
    p {
      font-size: 8px;
    }

    h2 {
      white-space: normal;

    }
  }
  .cartContainer {
    -webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
    span {
      font-size: 16px;
      line-height: 15px;
    }
  }
}
@media(max-width: 335px){
  .logo {
    img {
      margin: 0.1rem;
    }
  }
  .headerInfo{
    padding: 1rem 0rem;
  }
  .cartContainer {
    div {
      align-items: baseline;
      span {
        line-height: 18px
      }

      p:last-child {
        padding: 1% 5%;
      }
    }

  }
}
