

.container {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  // height: 5rem;
  button:first-child {
    padding-left: 2rem;
  }
  button {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    height: 8vh;
    width: 19rem;
    border: 0;
    background-color: #FFFFFF;

    &:hover {
      text-decoration-line: underline;
      color: #B41C8B;
    }
  }
}

@media (max-width:768px) {
  .container {
    white-space: nowrap;
    overflow-x: scroll;
    button {

      font-weight: bold;
      padding: 0 0.5rem;

    }
  }
}


@media (max-width:591px) {
  .container {

    button:first-child {
      padding-left: 0.5rem;
    }
    button {
      font-weight: bold;
      font-size: 12px;
      line-height: 22px;
      height: 7vh ;
    }
  }
}

